html {
  font-size: 10px;
  line-height: 1.2rem;
}

.grid {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" version="1.1"><rect style="fill:#ff6600;fill-opacity:1;" width="24" height="1" x="0" y="11" /><rect style="fill:#ff6600;fill-opacity:0.3;" width="24" height="1" x="0" y="1" /><rect style="fill:#ff6600;fill-opacity:1;" width="24" height="1" x="0" y="23" /><rect style="fill:#ff6600;fill-opacity:0.3;" width="24" height="1" x="0" y="13" /><rect style="fill:#ff6600;fill-opacity:1;stroke:none" width="1" height="24" x="0" y="0" /><rect style="fill:#ff6600;fill-opacity:1;stroke:none" width="1" height="24" x="12" y="0" /></svg>');
}

.grid > * {
  opacity: .6 !important;
}

@media screen and (min-width: 780px) {
  html { font-size: 15px; }
  .grid {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" version="1.1"><rect style="fill:#ff6600;fill-opacity:1;" width="36" height="1" x="0" y="17" /><rect style="fill:#ff6600;fill-opacity:0.3;" width="36" height="1" x="0" y="2" /><rect style="fill:#ff6600;fill-opacity:1;" width="36" height="1" x="0" y="35" /><rect style="fill:#ff6600;fill-opacity:0.3;" width="36" height="1" x="0" y="20" /><rect style="fill:#ff6600;fill-opacity:1;stroke:none" width="1" height="36" x="0" y="0" /><rect style="fill:#ff6600;fill-opacity:1;stroke:none" width="1" height="36" x="18" y="0" /></svg>');
  }
}

@media screen and (min-width: 1530px) { html { font-size: 20px; } }
@media screen and (min-width: 1560px) { html { font-size: 25px; } }
@media screen and (min-width: 1950px) { html { font-size: 30px; } }
@media screen and (min-width: 2340px) { html { font-size: 35px; } }
@media screen and (min-width: 2730px) { html { font-size: 40px; } }
@media screen and (min-width: 3120px) { html { font-size: 45px; } }
@media screen and (min-width: 3510px) { html { font-size: 50px; } }
@media screen and (min-width: 3900px) { html { font-size: 55px; } }
@media screen and (min-width: 4290px) { html { font-size: 60px; } }
@media screen and (min-width: 4680px) { html { font-size: 65px; } }
